.shoe {
  position: relative;
  top: -0.3em;
}

.power {
  border: solid black 5px;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}

.power.modifier {
  background: linear-gradient(to bottom,
      #ffe5b4 0%,
      /* very light orange at top */
      #ffd699 100%
      /* slightly deeper light orange at bottom */
    );
}

.power.core {
  background: linear-gradient(to bottom,
      #f3e8ff 0%,
      /* very light lilac at top */
      #e9dfff 100%
      /* slightly deeper gentle lilac at bottom */
    );
}

.power.one-shot {
  background: linear-gradient(to bottom,
      #e6f0fa 0%,
      /* very light powder blue at top */
      #dce9f5 100%
      /* slightly deeper powder blue at bottom */
    );
}

.color-family.steal {
  border-color: #000066;
  background: linear-gradient(to bottom,
      #77aaee 0%,
      /* a */
      #88bbee 50%,
      /* b (slightly darker) */
      #99ccee 100%
      /* back to a */
    );
}

.color-family.reroll {
  border-color: #663300;
  background: linear-gradient(to bottom,
      #eeaa77 0%,
      /* a */
      #eebb88 50%,
      /* b (slightly darker) */
      #eecc99 100%);
}

.color-family.noise {
  border-color: #006600;
  background: linear-gradient(to bottom,
      #77eeaa 0%,
      /* a */
      #88eebb 50%,
      /* b (slightly darker) */
      #99eecc 100%
      /* back to a */
      /* back to a */
    );
}

.color-family.demerit {
  border-color: #333333;
  background: linear-gradient(to bottom,
      #222222 0%,
      /* a */
      #555555 50%,
      /* b (slightly darker) */
      #777777 100%
      /* back to a */
      /* back to a */
    );
}



.color-family.noise.square {
  border-color: #666600;
  background: linear-gradient(to bottom,
      #eeeeaa 0%,
      /* a */
      #eeeebb 50%,
      /* b (slightly darker) */
      #eeeecc 100%
      /* back to a */
      /* back to a */
    );
}

.color-family.steal.square {
  border-color: #666600;
  background: linear-gradient(to bottom,
      #ddaaff 0%,
      /* a */
      #ccbbff 50%,
      /* b (slightly darker) */
      #bbccff 100%
      /* back to a */
      /* back to a */
    );
}

.family-0 {
  border-color: #000044;
  background: linear-gradient(to bottom,
      #eeeeff 0%,
      #ccccff 100%);
}

.family-1 {
  border-color: #440000;
  background: linear-gradient(to bottom,
      #ffeeee 0%,
      #ffcccc 100%);
}

.family-2 {
  border-color: #004400;
  background: linear-gradient(to bottom,
      #eeffee 0%,
      #ccffcc 100%);
}

.family-3 {
  border-color: #444400;
  background: linear-gradient(to bottom,
      #ffffcc 0%,
      #ffff99 100%);
}

.shiny-metal {
  background: linear-gradient(135deg,
      #eeeeee 0%,
      #ccccdd 20%,
      #ffffff 35%,
      #aaaaaa 50%,
      #bbbbcc 65%,
      #aaaabb 85%,
      #f5f5f5 100%);

}

.shiny-gold {
  background: linear-gradient(135deg,
      #8f8500 0%,
      #d4af37 25%,
      #fff2a6 38%,
      #d4af37 50%,
      #b8962e 62%,
      #fff2a6 75%,
      #9a7c00 100%);
}