div.pseudo-image.move-flip-die {
  background-image: url("../images/move-flip-die.png");
}

div.pseudo-image.noise-flip-die {
  background-image: url("../images/noise-flip-die.png");
}

div.pseudo-image.secret-passage {
  background-image: url("../images/secret-passage.png");
}

div.pseudo-image.persuasion {
  background-image: url("../images/persuasion.png");
}

div.pseudo-image.no-steal {
  background-image: url("../images/no-steal.png");
}

div.pseudo-image.steal {
  background-image: url("../images/steal.png");
}

div.pseudo-image.professor {
  background-image: url("../images/professor.png");
}

div.pseudo-image.noise-die {
  background-image: url("../images/noise-die.png");
}

div.pseudo-image.move-die {
  background-image: url("../images/move-die.png");
}