body {
  font-family: Georgia, "Times New Roman", serif;

  .tokens {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    .row-of-tokens {
      display: flex;
      flex-direction: row;
    }

    .boy.token,
    .steal.token {
      .token-text {
        font-size: 60px;
      }
    }

    .boy.token.back {
      .token-text {
        font-size: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .token {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border-style: solid;
      border-width: 10px;
      font-weight: bold;
      z-index: 1;
      position: relative;
      width: 256px;
      height: 256px;
      flex-direction: column;
      box-sizing: border-box;

      .token-text {
        font-size: 150px;
      }

      .double-steal,
      .noise-die,
      .steal {
        width: 128px;
        height: 128px;
        border-radius: 15px;
        border: rgb(0, 0, 0) solid 5px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }
    }

    .token.square {
      border-radius: 16px;
    }

    .token.teacher {
      border-color: #243483;
      background: linear-gradient(to bottom, #eeeeff 0%, #ddddee 100%);
    }

    .token.demerit {
      border-color: #333333;
      background: linear-gradient(to bottom, #222222 0%, #555555 50%, #777777 100%);
    }
  }
}