body {
  font-family: Georgia, "Times New Roman", serif;

  .tokens {
    display: flex;
    flex-direction: column;

    .tokens-for-player {
      display: flex;
      flex-direction: row;
    }
  }
}

.token {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  font-size: 50px;
  font-weight: bold;
}

.token.demerit {
  font-size: 65px;
}

.token.noise {
  font-size: 65px;
}