.card {
  font-family: "Allura", cursive;
}

.card.back {
  border-width: 30px;
  border-radius: 30px;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px solid;

  .title {
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.card.front {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 15px solid black;

  .title-wrapper {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 33px;
      margin-top: 10px;
    }
  }

  .treat-image {
    width: 45%;
    aspect-ratio: 1 / 1;
    height: auto;
    /* critical: prevent overrides */
    flex: 0 0 auto;
  }

  .points-and-stealing-wrapper {
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 10px;


    .points {
      width: 45%;
      background: linear-gradient(to bottom,
          #fdf3c6 0%,
          /* pale gold - lighter at top */
          #f9e7a7 105%
          /* pale gold - slightly darker at bottom */
        );
      border: solid black 3px;
      border-radius: 5px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      /* horizontal, vertical, blur, color */
    }

    .stealing {
      width: 45%;
      background: linear-gradient(to bottom,
          #a8fdcc 0%,
          /* pale gold - lighter at top */
          #98fddc 100%
          /* pale gold - slightly darker at bottom */
        );
      border: solid black 3px;
      border-radius: 5px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      /* horizontal, vertical, blur, color */
    }
  }


  .power {
    font-size: 30px;
    margin-top: 10px;
    width: 90%;
    border: solid black 3px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
}

.card.back.card-tier-0,
.card.front.card-tier-0 {
  border-color: #B87333;
  background: linear-gradient(to bottom,
      #f5e6c8 0%,
      /* a */
      #efe0c0 50%,
      /* b (slightly darker) */
      #f5e6c8 100%
      /* back to a */
    );
}

.card.back.card-tier-1,
.card.front.card-tier-1 {
  border-color: #bed6ee;
  background: linear-gradient(to bottom,
      #efe7ff 0%,
      /* a */
      #dfe7ff 50%,
      /* b (slightly darker) */
      #efe7ff 100%
      /* back to a */
    );
}


.card.back.card-tier-2,
.card.front.card-tier-2 {
  border-color: #ff9aa2;
  background: linear-gradient(to bottom,
      #ffd7dc 0%,
      /* a */
      #ffe4e8 50%,
      /* b (slightly darker) */
      #ffd7dc 100%
      /* back to a */
    );
}