body {
  font-family: Georgia, "Times New Roman", serif;
}
body .boards {
  display: flex;
  flex-direction: column;
}
body .boards .row-of-boards {
  display: flex;
  flex-direction: row;
}

.player-board {
  padding: 20px;
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.player-board .boards-row {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.player-board .modifier.power {
  display: flex;
  flex-direction: row;
  font-size: 60px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.player-board .core.power {
  display: flex;
  flex-direction: column;
}
.player-board .core.power .row {
  display: flex;
  flex-direction: row;
}
.player-board .core.power .row .cell.die {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 60px;
}
.player-board .core.power .row .cell {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  font-size: 60px;
}
.player-board .core.power .row.alt-color-0 {
  background-color: rgba(240, 240, 240, 0.5333333333);
}
.player-board .core.power .row.alt-color-1 {
  background-color: rgba(224, 224, 224, 0.5333333333);
}
.player-board .boy-boards {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.player-board .boy-boards .schoolboy-board {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F1E9D2;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
}
.player-board .boy-boards .schoolboy-board .title {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}
.player-board .boy-boards .schoolboy-board .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}
.player-board .boy-boards .schoolboy-board .cards .cards-slots {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.player-board .boy-boards .schoolboy-board .cards .cards-slots .card-slot {
  border: 4px solid #000000;
  border-radius: 8px;
}
.player-board .boy-boards .schoolboy-board .modifier.die-holder {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 80px;
}
.player-board .boy-boards .schoolboy-board span.icon-move {
  position: relative;
  top: -14px;
}
.player-board .boy-boards .schoolboy-board .cards-and-die-configs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 12px;
}
.player-board .boy-boards .schoolboy-board .cards-and-die-configs .all-die-configs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.player-board .boy-boards .schoolboy-board .cards-and-die-configs .all-die-configs .die-configs {
  font-size: 60px;
  display: flex;
  border: 4px solid black;
  border-radius: 8px;
  flex-direction: column;
}
.player-board .boy-boards .schoolboy-board .cards-and-die-configs .all-die-configs .die-configs .actions {
  display: flex;
}
.player-board .boy-boards .schoolboy-board .cards-and-die-configs .all-die-configs .power.die-configs.modifier .modifier-container {
  display: flex;
  flex-direction: row;
}
.player-board .boy-boards .schoolboy-board.player-0 .cards .cards-slots .card-slot {
  background-color: #ccccff;
}
.player-board .boy-boards .schoolboy-board.player-1 .cards .cards-slots .card-slot {
  background-color: #ffcccc;
}
.player-board .boy-boards .schoolboy-board.player-2 .cards .cards-slots .card-slot {
  background-color: #ccffcc;
}
.player-board .boy-boards .schoolboy-board.player-3 .cards .cards-slots .card-slot {
  background-color: #ffffcc;
}

/*# sourceMappingURL=boards2.css.map */
